@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background antialiased;
    font-family: 'Inter', sans-serif;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-card {
  background: rgba(23, 31, 51, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid #1E293B;
}

.premium-gradient {
  background: linear-gradient(135deg, #be1e2d 0%, #68000f 100%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2d3449;
  border-radius: 10px;
}

/* Custom transitions and states */
.btn-primary-custom {
  @apply bg-primary-container hover:brightness-110 text-on-primary-container font-semibold py-3 px-6 rounded-lg transition-all active:scale-[0.98];
}

.card-custom {
  @apply bg-surface-container border border-slate-800 p-md rounded-lg flex flex-col justify-between;
}
